container, .content {
    width: 100%;
    height: auto;
    }
    .row{
        height: 300px;
        width: 95%;
        
        display: block;
       
    }
    .col{
        height: 280px;
        width: 45%;
        
        float:left;
    }
    h1{
        margin-left: 20px;
    }